body {
    font-family: Consolas;
    background-image: url('../img/starbg.gif');
}

u {
    text-decoration: none;
    border-bottom: 1px solid #185fff;
}

h1 {
    font-size: 14pt;
    color: #3b3b3b;
    font-weight: bold;
    letter-spacing: 3px;
}

h2 {
    height: 18px;
    line-height: 18px;
    font-size: 10pt;
    color: #3b3b3b;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 0px;
    background-color: #bbb;
    display: inline-block;
    float: left;
    direction: rtl;
    text-indent: -3px;
}

h3 {
    height: 18px;
    line-height: 18px;
    font-size: 10pt;
    color: #3b3b3b;
    font-weight: normal;
    letter-spacing: 3px;
    padding-top: 0px;
    background-color: #eee;
    display: inline-block;
    float: left;
    margin-left: 10px;
    direction: rtl;
    text-indent: -3px;
}

.hilite {
    background-color: #faff00;
}

p {
    font-size: 10pt;
}

.nav-item:hover {
    background-color: #faff00;
}

#map {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 300px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
}

.stickyHeader {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0px;
    text-align: left;
    letter-spacing: 3px;
}

.mainContent {
    margin-top: 80px;
}

.chunk {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: #fff;
    box-shadow: -3px 3px 0px #185fff;
}

.nopad {
    padding-top: 0;
}

.alt {
    background-color: #ddd;
    /*box-shadow: -3px 3px 0px #5e00ff;*/
}

.alt .hilite {
    background-color: #1cffdf;
}

.mainContent a, .foot a {
    color: #f03326;
}

    .mainContent a:hover, .foot a:hover {
        background-color: #f03326;
        color: #fff;
    }

.foot {
    font-size: 10pt;
}

blockquote span {
    color: #aaa;
    font-style: italic;
    font-size: 10pt;
    display: table;
    width: 80%;
    margin: auto;
}

/* playing with grainy gradient
.grainy {
    background: linear-gradient(rgba(0, 0, 0, 0), mediumblue), url(https://grainy-gradients.vercel.app/noise.svg);
    filter: contrast(120%) brightness(900%);
}  */