@page
@model Ahbc2022AprilWebApp1.Pages.aboutModel
@{
}

<div class="row chunk">
    <h1><span class="hilite">About</span></h1>
    <p>Hi! My name is Christy. I'm currently enrolled in a Full Stack C# Bootcamp at Detroit's very own Grand Circus. Here are a few quick facts about me:</p>
    <ul>
        <li>VR Enthusiast</li>
        <li>DJ of 10 years</li>
        <li>Inventory Expert</li>
        <li>Aspiring Unity developer</li>
        <li>28 years old</li>
    </ul>
    <p>If you'd like to get in touch, please contact me at xtyvkv@gmail.com or check the links below.</p>
</div>

