@page
@model Ahbc2022AprilWebApp1.Pages.aboutModel
@{
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>About</h1>
            <p>Hehehehahahahahohoho.</p>
        </div>
    </div>
</div>

