@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<div class="row chunk">
    <h1><span class="hilite">Blogging</span></h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <b>incididunt</b> ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <blockquote><span>
        I don't really have much to say about blogging, but look! I can write HTML!
    </span></blockquote>
    <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<div class="row chunk">
    <h1><span class="hilite">Development</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur <a href="https://mcdonalds.fandom.com/wiki/Grimace" target="_blank">adipiscing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis <u>aute irure dolor</u> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="row chunk">
    <div class="col">
        <h1><span class="hilite">Hometown</span></h1>
        <p>I was born and raised in Metro Detroit, lived in Los Angeles for 6 years, and am <b>currently residing in Southwest Detroit</b>.</p>
        <p>One of my favorite qualities of Detroit is its rich and historic music scene. There's really no place like Detroit and I am proud to be apart of the city.</p>
        <p>My choice place to hang out is at my studio space I share with friends located at the Russell Industrial Center.</p>
    </div>
    <div class="col">
        <!--The div element for the map -->
        <div id="map" class="map">
            <script>
            function initMap() {
                const hometown = { lat: 42.320, lng: -83.085 };
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 4,
                    center: hometown,
                });
                const marker = new google.maps.Marker({
                    position: hometown,
                    map: map,
                });
            }

            window.initMap = initMap;
            </script>
            <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_Dtn6ZRpHRkeP3ONHUxPqBqkhLacL8kk&callback=initMap&v=weekly"
            defer
            ></script>
        </div>
    </div>
</div>