@page
@model Ahbc2022AprilWebApp1.Pages.portfolioModel
@{
}

<div class="row chunk">
    <h1><span class="hilite">Portfolio</span></h1>
    <p>I am currently in the process of putting together my portfolio, but I've added some small projects I've done in the meantime.</p>
</div>
<div class="row chunk alt">
    <div style="clear: both;">
        <h2>Don't Touch The Trim</h2>
        <h3>2019 - 2020</h3>
    </div>
    <div class="col">
        <p><img class="thumb" src="~/img/pf_02.png" /></p>
    </div>
    <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
<div class="row chunk alt">
    <div style="clear: both;">
        <h2>VRLA Keynote Slideshow</h2>
        <h3>April 2017</h3>
    </div>
    <p><img class="thumb" src="~/img/vrla_01.png" /></p>
    <p><a href="https://uploadvr.com/justin-roiland-hilarious-keynote-vrla/" target="_blank">View The Write Up & (Cringy) Video</a></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="row chunk alt">
    <div style="clear: both;">
        <h2>Team Supreme Flyer Set</h2>
        <h3>September 2016</h3>
    </div>
    <div class="col">
        <p><img class="thumb" src="~/img/pf_01.png" /></p>
    </div>
    <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>